@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Không tìm thấy trang";
    Layout = "~/Views/Shared/Home/_Layout.cshtml";
}
<div class="content">
<div class="list-header clearfix">
    <h2>Rất tiếc</h2>
</div>
<div class="list-sfs-holder">
    <div style="float:left;padding:50px;">
        <h3>TRANG BẠN TÌM KIẾM KHÔNG TỒN TẠI :(</h3>
        <br />
        <span>Xin vui lòng</span><br />
        <ul>
            <li><a href="~/Home">Quay lại trang chủ</a></li>
            <li><a href="~/Home">Liên hệ với chúng tôi</a></li>
            <li>Hoặc xem <a href="~/sanpham">Sản phẩm</a> bạn có thể quan tâm</li>
        </ul>
    </div>
    <div style="float:right;margin-right:130px;">
        <img src="~/Content/Images/Om_nom.png" style="width:300px;height:300px" />
    </div>
</div>
<div style="height:100px;"></div>
</div>
