<div class="navigation-left">
    <div class="menu_ngang">
        <ul>
            <li><a href="~/Home">TRANG CHỦ</a></li>
            <li><a href="#">GIỚI THIỆU</a></li>
            <li><a href="~/SanPham">SẢN PHẨM</a></li>
            <li><a href="#">LIÊN HỆ</a></li>
            <li><a href="~/AdminPhiVanChuyen/XemPhiVanChuyen">PHÍ VẬN CHUYỂN</a></li>
        </ul>
    </div>
</div>
<div class="navigation-right">
    
</div>
