@{
    ViewBag.Title = ViewBag.TieuDe;
    Layout = "~/Views/Shared/Mobile/_Layout.cshtml";
}

<div class="main">
    <div class="content">
        <div class="clear"></div>
        <br />
        <div class="section group">
            <div class="heading" style="padding-top:10px;">
                <h3>@ViewBag.TieuDe</h3>
            </div>
            <p style="font-size:13px;">
                @Html.Raw(ViewBag.NoiDung)
            </p>
        </div>
    </div>
</div>
