@{
    ViewBag.Title = "Đã đăng ký";
    Layout = "~/Views/Shared/Home/_Layout.cshtml";
}

<div class="content">
    <div class="row-fluid">
        <div class="box" style="text-align:center;">
            <p style="color:#9711b1">
                Chào mừng bạn đã đến với Baby Toys
                <br />
                <br />
                Ngay bây giờ bạn đã có thể mua hàng
                <br />
                Bạn có thể xem thông tin tài khoản của mình tại <a href="~/taikhoan">đây</a>
                <br />
                <br />
                <a href="~/home" class="large purple button dlLight">Tiếp tục</a>
            </p>
        </div>
    </div>
</div>


