@{
    ViewBag.Title = "Khôi phục mật khẩu thành công";
    Layout = "~/Views/Shared/Home/_Layout.cshtml";
}
<div class="content">
    <div class="row-fluid">
        <div class="box">
            <p>
                Mật khẩu mới đã được gửi tới Email của bạn!<br />

                Bạn có thể kiểm tra Email và tiến hành đăng nhập.<br />

                Cám ơn bạn đã giao dịch với chúng tôi!<br />

                
            </p>
            <a class="purple button dlLight" href="~/Home">Tiếp tục</a>
    </div>
</div>

