/* ######### CSS for Shade Tabs. Remove if not using ######### */

.shadetabs{
padding: 0px 0;
margin-left: 0;
margin-top: 0px;
margin-bottom: 0;
font: bold 12px  Tahoma;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/

}

.shadetabs li{
display: inline;
height:30px;

}

.shadetabs li a{
text-decoration: none;
position: relative;
z-index: 1;


border-bottom-color: white;
padding:6px 15px 6px 15px;
margin-right: 0px;
border: 0px solid #778;
-moz-border-radius-topleft:3px;
-webkit-border-top-left-radius:3px;
-moz-border-radius-topright:3px;
-webkit-border-top-right-radius:3px;
    color: white;
 text-shadow: #fff 0px 1px 1px;
 border-left:1px solid #ccc;
  border-right:1px solid #ccc;
    border-top:1px solid #ccc;
background-color: #35A136;
}

.shadetabs li a:visited{
color: white;

}

.shadetabs li a:hover{

color:white;
background-color:#39A239;
font-weight:bold;
}

.shadetabs li a.selected{ /*selected main tab style */
position: relative;

color: #fff;
}

.shadetabs li a.selected{ /*selected main tab style */
background-image: url(shadeactive.gif);
border-bottom-color: white;
padding:6px 15px 6px 15px;
margin-right: 0px;
border: 0px solid #778;
-moz-border-radius-topleft:3px;
-webkit-border-top-left-radius:3px;
-moz-border-radius-topright:3px;
-webkit-border-top-right-radius:3px;
color: #3c0a56;
 border-left:1px solid #ccc;
  border-right:1px solid #ccc;
    border-top:1px solid #ccc;
 text-shadow: #fff 0px 1px 1px;
background:#ebcbef url('../images/ico/tab_bgs.gif') top left repeat-x;
}

.shadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}

.tabcontent{
display:none;
font-weight:normal;

}

@media print {
.tabcontent {
display:block !important;
 font-weight:400;
 width: 760px;
}
    .tabcontent ul li
    {
         font-weight:400;
    }

}

/* ######### CSS for Inverted Modern Bricks II Tabs. Remove if not using ######### */

.modernbricksmenu2{
padding: 0;
width: 362px;
border-top: 0px solid #D25A0B; /*Brown color theme*/ 
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.modernbricksmenu2 ul{
margin:0;
margin-left: 10px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

.modernbricksmenu2 li{
display: inline;
margin: 0 0px 0 0;
padding: 0;
text-transform:uppercase;
}

.modernbricksmenu2 a{
float: left;
display: block;
font: bold 11px Arial;
color: white;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/

background-color: black; /*Brown color theme*/ 
border-top: 0px solid white;
}

.modernbricksmenu2 a:hover{
background-color: #D25A0B; /*Brown color theme*/ 
color: white;
}

.modernbricksmenu2 a.selected{ /*currently selected tab*/
background-color: #D25A0B; /*Brown color theme*/ 
color: white;
border-color: #D25A0B; /*Brown color theme*/ 
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}

/* ######### CSS for Indented CSS Tabs. Remove if not using ######### */


.indentmenu{
font: bold 13px Arial;
width: 100%; /*leave this value as is in most cases*/
}

.indentmenu ul{
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/
border-top: 1px solid navy; /*navy border*/
background: black url(indentbg.gif) center center repeat-x;
}

.indentmenu ul li{
display: inline;
}

.indentmenu ul li a{
float: left;
color: white; /*text color*/

text-decoration: none;
border-right: 1px solid navy; /*navy divider between menu items*/
}

.indentmenu ul li a:visited{
color: white;
}

.indentmenu ul li a.selected{
color: white !important;
padding-top: 0px; /*shift text down 1px*/
padding-bottom: 0px;
background: black url(indentbg2.gif) center center repeat-x;
}


.tabcontentstyle{ /*style of tab content oontainer*/
border: 1px solid gray;
width: 450px;

padding: 0px;

}

.tabcontent{
display:none;
background:#fff;
}

@media print {
.tabcontent {
display:block !important;
}
}