@{
    ViewBag.Title = "_adminMenuLeft";
    
}
<div class="span2 main-menu-span">
    <div class="well nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li class="nav-header hidden-tablet">Main</li>
            <li><a class="ajax-link" href="~/admin"><i class="icon-home"></i><span class="hidden-tablet">Dashboard</span></a></li>
            <li class="nav-header hidden-tablet">Sản phẩm</li>
            <li><a class="ajax-link" href="~/AdminSanPham/ThemMoi"><i class="icon-plus-sign"></i><span class="hidden-tablet">Thêm sản phẩm</span></a></li>
            <li><a class="ajax-link" href="~/AdminSanPham/DanhSach"><i class="icon-th-list"></i><span class="hidden-tablet">Danh sách</span></a></li>
            @*<li><a class="ajax-link" href="~/Adminsanpham/tonkho"><i class="icon-th-list"></i><span class="hidden-tablet">Tồn kho</span></a></li>*@
            @*<li><a class="ajax-link" href="~/AdminThuongHieu"><i class="icon-flag"></i><span class="hidden-tablet">Thương hiệu</span></a></li>*@
            <li><a class="ajax-link" href="~/AdminDanhMuc"><i class="icon-list-alt"></i><span class="hidden-tablet">Danh mục</span></a></li>
            <li class="nav-header hidden-tablet">Hóa đơn</li>
            @*<li><a class="ajax-link" href="~/Adminnhaphang"><i class="icon-plus-sign"></i><span class="hidden-tablet">Nhập hàng</span></a></li>   *@ 
                <li><a class="ajax-link" href="~/AdminHoaDon"><i class="icon-shopping-cart"></i><span class="hidden-tablet">Đơn hàng</span></a></li>
               @* <li><a class="ajax-link" href="~/Adminnhaphang/danhsach"><i class="icon-shopping-cart"></i><span class="hidden-tablet">Phiếu nhập</span></a></li>*@
            @*<li><a class="ajax-link" href="~/AdminPhiVanChuyen/QLPhiVanChuyen"><i class="icon-plus-sign"></i><span class="hidden-tablet">Phí vận chuyển</span></a></li>*@
            <li><a class="ajax-link" href="~/AdminSanPham/LienHe"><i class="icon-plus-sign"></i><span class="hidden-tablet">Liên hệ</span></a></li>
            @*<li class="nav-header hidden-tablet">Khách hàng</li>
                <li><a class="ajax-link" href="~/AdminKhachHang"><i class="icon-user"></i><span class="hidden-tablet">Danh sách</span></a></li>
            <li><a class="ajax-link" href="~/AdminKhachHang/loaikhachhang"><i class="icon-user"></i><span class="hidden-tablet">Loại khách hàng</span></a></li>*@
            <li class="nav-header hidden-tablet">User</li>
            <li><a class="ajax-link" href="~/AdminUser"><i class="icon-user"></i><span class="hidden-tablet">Danh sách</span></a></li>
            <li><a class="ajax-link" href="~/AdminUser/PhanQuyen"><i class="icon-user"></i><span class="hidden-tablet">Phân quyền</span></a></li>
            <li class="nav-header hidden-tablet">Hệ thống</li>
            <li><a class="ajax-link" href="~/System"><i class="icon-user"></i><span class="hidden-tablet">Cài đặt</span></a></li>
            <li><a class="ajax-link" href="~/Adminmail"><i class="icon-user"></i><span class="hidden-tablet">Mail</span></a></li>
            <li><a class="ajax-link" href="~/AdminMenu"><i class="icon-user"></i><span class="hidden-tablet">Menu</span></a></li>
            <li><a class="ajax-link" href="~/AdminLog"><i class="icon-user"></i><span class="hidden-tablet">Nhật kí</span></a></li>
        </ul>

    </div>
    <!--/.well -->
</div>

