<p>
    Xin chào!<br/>
    Bạn vừa yêu cầu cấp mật khẩu mới tại website của chúng tôi <br/>
    Mật khẩu mới của bạn là: <b>@ViewBag.password</b><br/>
    Bạn có thể sử dụng mật khẩu này để đăng nhập vào tài khoản trên website <br/>
    Cám ơn bạn đã ghé thăm website của chúng tôi
</p>
