<div class="header">
    <div class="header_top">
        <div class="logo">
            
                <a href="/home" style="padding-left:10px;padding-top:20px;">
                    <img src="~/Content/mobile/images/logo.png" width="80" height="60" style="padding-top:15px;" />
                </a>
            
            
            <div style="float:right;padding:20px;font-weight:600;color:#1A911A;font-size:18px;text-align:center;">
                <b>TRÁI CÂY VITA</b><br />
                <a href="tel:0932641106">
                    <img src="http://www.halloo.com/click2call/callme_itxt_red_70.png" border="0" alt="0932641106" title="0932641106" height="35" width="100">
                </a>
            </div>
                
                
        </div>
        @*<div class="cart-details">
            <div class="shopping_cart">
                <a href="cart.html">
                    <img src="~/Content/mobile/images/cart.jpg" alt="" /></a>
            </div>

            <div class="login">
                <span><a href="login.html">
                    <img src="~/Content/mobile/images/login.png" alt="" /></a></span>
            </div>
            <div class="clear"></div>
        </div>*@
        <div class="clear"></div>
    </div>
    @*<div class="search_box">
        <form>
            <input type="text" value="Search for Products" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search for Products';}">
            <input type="submit" value="SEARCH">
        </form>
    </div>*@
    <div class="search_box">
            @using (Html.BeginForm("Index", "TimKiem"))
            {
                <input type="text" name="searchString" placeholder="Tìm kiếm sản phẩm..." >
                <input type="submit" class="" value="Tìm">
            }
        </div>
    <div class="primary-nav">
        
        <a class="toggleMenu" href="#">
            <span style="">
               Menu

            </span>
            
        </a>
        @{Html.RenderAction("navigation", "Home");}
    </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="~/Content/mobile/js/nav.js"></script>
</div>
